.import-about {
  background-color: white;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15);
}

.import-about h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.import-about p {
  font-size: 14px;
  line-height: 1.5;
}

.import-about .see-more {
  color: var(--linkedin-gray);
  font-weight: 600;
  cursor: pointer;
  margin-top: 8px;
}
